<h1 mat-dialog-title>{{data.title}} {{data.element}}</h1>
<div mat-dialog-content>
  <form class="task-form" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput placeholder="Task Title" type="text" minlength="1" required [(ngModel)]="taskEdited.title" name="title"
      >
      <mat-error *ngIf="taskFormControl.hasError('required')">
        Title is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="Task Description" minlength="1" required [(ngModel)]="taskEdited.description" name="description"></textarea>
      <mat-error *ngIf="taskFormControl.hasError('required')">
        Description is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field *ngIf="taskEdited.id !== null">
      <mat-select placeholder="Task Status" required [(ngModel)]="taskEdited.status" name="status">
        <mat-option value="D">
          Done
        </mat-option>
        <mat-option value="U">
          Undone
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button type="submit" color="primary">Save</button>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button class="close" (click)="onNoClick()" color="warn">Cancel</button>
</div>
