{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>OriginTestClient</title>
    <base href="/">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{% static 'client/favicon.ico' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <app-root>Loading ...</app-root>
    <script type="text/javascript" src="{% static 'client/runtime.js' %}"></script>
    <script type="text/javascript" src="{% static 'client/polyfills.js' %}"></script>
    <script type="text/javascript" src="{% static 'client/styles.js' %}"></script>
    <script type="text/javascript" src="{% static 'client/vendor.js' %}"></script>
    <script type="text/javascript" src="{% static 'client/main.js' %}"></script>
</body>
</html>