<div class="container" *ngIf="!userService.isAuthenticated()">
  <div fxLayout="row" fxLayoutAlign="center center" class="content">
    <mat-card class="card" >
      <mat-card-title>
        <h3>Welcome to Tasks</h3>
        <p>
          Please login to proceed.
        </p>
      </mat-card-title>
      <mat-card-content >
        <div class="welcome-container mat-elevation-z8">
            <form class="signinup-form">
                <!--<mat-form-field>-->
                <!--<input matInput placeholder="Username"-->
                       <!--type="text" required-->
                       <!--[(ngModel)]="user.username" name="login-username"-->
                <!--&gt;-->
                <!--&lt;!&ndash;<mat-error *ngIf="userService.errors.username">&ndash;&gt;-->
                    <!--&lt;!&ndash;<span *ngFor="let error of userService.errors.username">{{ error }}</span>&ndash;&gt;-->
                <!--&lt;!&ndash;</mat-error>&ndash;&gt;-->
                <!--<mat-error *ngIf="userService.errors.password">-->
                    <!--<span *ngFor="let error of userService.errors.password">{{ error }}</span>-->
                <!--</mat-error>-->
              <!--</mat-form-field>-->

              <mat-form-field>
                <input matInput placeholder="Username"
                       required
                       [(ngModel)]="user.username" name="login-username"
                >
                <mat-error *ngFor="let error of userService.errors.username">
                    {{ error }}
                </mat-error>
                <!--<mat-error *ngIf="userService.errors.username">-->
                    <!--<span *ngFor="let error of userService.errors.username">{{ error }}</span>-->
                <!--</mat-error>-->
              </mat-form-field>

              <mat-form-field>
                <input matInput placeholder="Password"
                       type="password" required
                       minlength="8"
                       [(ngModel)]="user.password" name="login-password"
                >
                <mat-error *ngFor="let error of userService.errors.password">
                    {{ error }}
                </mat-error>
              </mat-form-field>

              <button (click)="login()" mat-raised-button type="submit" color="primary">Sign In</button>
              <button (click)="signUp()" mat-raised-button type="submit" color="warn">Sing Up</button>
              <mat-error *ngIf="userService.errors.non_field_errors">
                <span *ngFor="let error of userService.errors.non_field_errors">{{ error }}<br /></span>
              </mat-error>
            </form>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>


<!--<div class="row" *ngIf="!userService.isAuthenticated()">-->
  <!--<h2>Welcome</h2>-->
    <!--<p> This is tasks board. You need to login to proceed.</p>-->
  <!--<h2>Log In</h2>-->
  <!--<div class="col-sm-4">-->
    <!--<label>Username:</label><br />-->
    <!--<input type="text" name="login-username" [(ngModel)]="user.username">-->
    <!--<span *ngFor="let error of userService.errors.username"><br />-->
    <!--{{ error }}</span></div>-->
  <!--<div class="col-sm-4">-->
    <!--<label>Password:</label><br />-->
    <!--<input type="password" name="login-password" [(ngModel)]="user.password">-->
    <!--<span *ngFor="let error of userService.errors.password"><br />-->
    <!--{{ error }}</span>-->
  <!--</div>-->
  <!--<div class="col-sm-4">-->
    <!--<button  (click)="login()" class="btn btn-primary">Sign In</button>-->
    <!--<button  (click)="signUp()" class="btn btn-primary">Sign Up</button>-->
  <!--</div>-->
  <!--<div class="col-sm-12">-->
    <!--<span *ngFor="let error of userService.errors.non_field_errors">{{ error }}<br /></span>-->
  <!--</div>-->
<!--</div>-->
<!--<div class="row" *ngIf="userService.isAuthenticated()">-->
  <!--<div class="col-sm-12">You are logged in as {{ userService.username }}.<br />-->
    <!--Token Expires: {{ userService.token_expires }}<br />-->
    <!--&lt;!&ndash;<button (click)="refreshToken()" class="btn btn-primary">Refresh Token</button>&ndash;&gt;-->
    <!--<button (click)="userService.logout()" class="btn btn-primary">Log Out</button>-->
    <!--<p>Proceed to <a routerLink="/dashboard/">Dashboard</a>.</p>-->
  <!--</div>-->
<!--</div>-->
