.signinup-form {
  display: flex;
  flex-direction: column;
  padding: 24px;

}

.signinup-form > * {
  width: 100%;
  margin-bottom: 10px;
}

.container {
  padding-top: 10px;
  padding-bottom: 10px;
}

.card {
  min-width: 40%;
}

.welcome-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 100%;
}
