.card {
  min-width: 90%;
}

.done-button {
  min-width: 60px;
}

.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 100%;
}

.mat-table {
  /*overflow: auto;*/
  max-height: 500px;
}

a {
  cursor: pointer;
}

.action-button {
  margin-right: 5px;
}

.dashboard {
  padding-top: 10px;
  padding-bottom: 10px;
}
