<div *ngIf="userService.isAuthenticated()" class="dashboard">
  <br>
  <div class="container">
    <div class="container">
       <div fxLayout="column" fxLayoutGap="20px" fxLayout.gt-md="row"  fxLayoutAlign="space-around center" class="content">
            <div class="blocks">
                <button button="submit" mat-raised-button color="primary" (click)="openDialogToCreate()">
                  <mat-icon>add</mat-icon> Add Task
                </button>
            </div><div class="blocks">

                <button button="submit" mat-raised-button color="gray" (click)="toggleShowsAllTasks()">
                  <mat-icon>filter_list</mat-icon>
                  <span *ngIf="showsAllTasks; else showAllButton"> Hide Completed</span>
                  <ng-template #showAllButton>Show All</ng-template>
                </button>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
      <div fxLayout="row" fxLayoutAlign="center center" class="content">
        <mat-card class="card" >
          <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
            <h3>Recent Tasks</h3>
          </mat-card-title>
          <mat-card-content>
            <div class="example-container mat-elevation-z8">
              <mat-table #table [dataSource]="dataSource">
                <ng-container matColumnDef="added">
                  <mat-header-cell *matHeaderCellDef> Added </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.added | date: 'd/M/y HH:mm'}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="reporter">
                  <mat-header-cell *matHeaderCellDef> Reporter</mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <span *ngIf="element.owner">
                      {{element.owner.username}}
                    </span>
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="doneby">
                  <mat-header-cell *matHeaderCellDef> Done by</mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <span *ngIf="element.doer">
                      {{element.doer.username}}
                    </span>
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="status">
                  <mat-header-cell *matHeaderCellDef> Status</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.status_verbose}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="title">
                  <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="description">
                  <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="actions">
                  <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <a class="action-button" (click)="openDialogToEdit(element)"
                      type="button"
                      *ngIf="shouldEditButtonBeVisible(element)"
                    >
                      <mat-icon class="icon">edit</mat-icon>
                    </a>
                    <a class="action-button" (click)="deleteTask(element.id)"
                      type="button"
                      *ngIf="shouldDeleteButtonBeVisible(element)"
                    >
                      <mat-icon class="icon">delete</mat-icon>
                    </a>
                    <button
                      class="action-button done-button"
                      button="submit"
                      mat-raised-button
                      color="primary"
                      (click)="markDone(element.id)"
                      *ngIf="shouldDoneButtonBeVisible(element)"
                    >
                      Done
                    </button>
                  </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              </mat-table>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
